h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40pt;
    color: rgb(255, 0, 0);
}

.box {
    width: 400px;
    height: 400px;
    color: #fff;
    background-color: #ff0000; 
    text-align: center;
    border: 5px solid #fff; 
    padding: 10px;
    margin: 50px auto; 
    position: relative;
}

.box:hover {
    background-color: green;
    box-shadow: 5px 5px 15px white; 
}

a {
    color: burlywood;
}

a:link {
    color: brown;
}



.box::after {
    content: "Merry Christmas!";
    font-size: 20pt;
    color: brown;
    display: block;
}

body {
    background-color: #303030;
    overflow: hidden;
}
