h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40pt;
    color: rgb(255, 0, 0);
}

.box {
    width: 400px;
    height: 420px;
    color: #ff0000;
    font-size: 20pt;
    background-image: url(first.jpg); 
    text-align: center;
    border: 5px solid #fff; 
    padding: 10px;
    margin: 50px auto; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box:hover {
    background-image: url(hover.jpg);
    background-size: cover;
    box-shadow: 10px 10px 35px black; 
}

a {
    font-size: 50pt;
    color: red;
}

a:link {
    color: gray;
}

body {
    background-image: url(bg.gif);
    background-size: cover;
    overflow: hidden;
}
